header {
    background-color: purple;
    height: 20vh;
    margin: 10px;
    animation:color-swap 5s linear 2s infinite;

}

nav > div {
    background-color: skyblue;
    height: 50px;
    margin: 10px;
    animation: geting-shorter 3s linear 5s 10;
}

aside {
    background-color: royalblue;
    height: 50vh;
    margin: 10px;
    animation: geting-taller 5s linear 1s infinite;
}

footer {
    background-color: blue;
    height: 10vh;
    margin: 10px;
    animation: spin 5s linear 0s infinite;
    animation: geting-wider 2s linear 4s infinite;
}

@keyframes color-swap {
    0%{
        background-color: purple;
    }
    25% {
        background-color: orange;
    }
    50% {
        background-color: green;
    }
    75% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}

@keyframes geting-shorter {
    from {
        width: 100%;
    }
    to {
        width: 1%;
    }
}



@media screen and (min-width: 992px) {
    header {
        height: 15vh;
    }

    #content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    nav > div {
        height: 25px;
        width: 100px;
    }

    aside {
        width: 25vw;
    }
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}
 
@keyframes geting-taller {
    from {
        height: 100%;
    }
    to {
        height: 200%;
    }
}

@keyframes geting-wider {
    from {
        width: 100%;
    }
    to {
        width: 150%;
    }
}