body {
    background-color: seagreen;
}

#first {
    color: purple;
    font-style: italic;
    font-weight: 700;
}

@media screen and (mix-width: 700px) {

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
